body {
  background-color: #1e272e;
  text-align: center;
}
h1 {
  color: #FFF;
}
.container-fluid {
  padding: 15% 15%;
}
.quotes-box{
  background-color: #808e9b;
  border-radius: 25px;
  padding-bottom: 5%;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
#quoteDisplay {
  color: #FFF;
  padding: 3%;
}
